* \ {
    margin: 0;
    padding: 0;
    /* align-content: center; */
}
.base {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 1rem;

}
.formBase {
    display: flex;
    justify-content: center;
    background-color: burlywood;
    align-items: baseline;
}
.form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
}